body{
    background-color: darkkhaki;
}
.contenedor h2{
    padding: 4rem;
    text-align: center;
}
.contenedor{
    text-align: center;
}
.selec option{
    padding: 1rem;
}
#btn{
    padding: 1rem;
    width: 15%;
    border-radius: 8%;
    background-color: rgb(212, 112, 112);
    cursor: pointer;
}
